In [1]:
# Dependencies for this notebook can be found in requirements_pycaret.txt

# Install dependencies using pip3 install -r requirements_pycaret.txt

# Installation instructions

# virtualenv venv_pycaret
# source venv_pycaret/bin/activate
# ipython kernel install --user --name=venv_pycaret
# Start the notebook using `python3 -m jupyter notebook`
# In the notebook click on Kernel -> Change kernel -> venv_pycaret
# Execute this notebook

# Uncomment these lines if not using a kernal specifically for pycaret


# import sys
# print(sys.executable) 

# ! /usr/local/opt/python@3.9/bin/python3.9 -m pip install pycaret

In [2]:
import pycaret
import pandas as pd

In [3]:
df = pd.read_csv('data/UNSW_NB15_training-set.csv')

In [4]:
df_test = pd.read_csv('data/UNSW_NB15_testing-set.csv')

In [5]:
df.head()

,id,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
0,1,0.000011,udp,-,INT,2,0,496,0,90909.0902,...,1,2,0,0,0,1,2,0,Normal,0
1,2,0.000008,udp,-,INT,2,0,1762,0,125000.0003,...,1,2,0,0,0,1,2,0,Normal,0
2,3,0.000005,udp,-,INT,2,0,1068,0,200000.0051,...,1,3,0,0,0,1,3,0,Normal,0
3,4,0.000006,udp,-,INT,2,0,900,0,166666.6608,...,1,3,0,0,0,2,3,0,Normal,0
4,5,0.000010,udp,-,INT,2,0,2126,0,100000.0025,...,1,3,0,0,0,2,3,0,Normal,0

In [6]:
##### PYCARET #####

## This section is memory intensive, if you want to run this section on a smaller subset then run the following

## You can take a smaller sample by running pycaret_df = pycaret_df.sample(50000)

df = df.sample(50000)

In [7]:
df = df.drop(['attack_cat', 'id'], axis=1, errors='ignore')

In [8]:
df_test = df_test.drop(['attack_cat', 'id'], axis=1, errors='ignore')

In [9]:
df.head()

,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,sttl,...,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,label
67850,1.362293,tcp,-,FIN,10,6,2062,268,11.010847,254,...,1,1,3,0,0,0,1,4,0,0
42425,0.467841,tcp,-,FIN,10,6,534,268,32.062175,254,...,1,1,2,0,0,0,1,2,0,0
47283,0.000007,unas,-,INT,2,0,200,0,142857.140900,254,...,2,2,3,0,0,0,7,6,0,1
13116,0.000009,udp,dns,INT,2,0,114,0,111111.107200,254,...,25,25,33,0,0,0,26,33,0,1
1101,0.623130,tcp,http,FIN,20,42,2426,48796,97.892892,62,...,1,1,1,0,0,1,1,1,0,1

In [10]:
from pycaret.classification import *
s = setup(df, target = 'label', session_id = 123)

In [14]:
# model training and selection
best = compare_models()

Processing:   0%|          | 0/69 [00:00<?, ?it/s]

In [15]:
# evaluate trained model
evaluate_model(best)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [16]:
# train a Neural Network model
nn = create_model('mlp')

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

In [17]:

# evaluate model performance
evaluate_model(nn)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…